html,
body {
  background: #000;
  color-scheme: dark;
  padding: 0;
  margin: 0;
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
  height: 6px;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: #3a3a3a;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #616161;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #f6d518;
}
.loderCentre {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
